name: Publish
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
        description: version

env:
  IMAGE_NAME: gha-image

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Convert repository owner to lowercase
        id: convert-lowercase-owner
        run: echo "LOWERCASE_REPOSITORY_OWNER=$(echo ${GITHUB_REPOSITORY_OWNER,,}" >> "${GITHUB_OUTPUT}"
        shell: bash

      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: ghcr.io/${{ steps.convert-lowercase-owner.outputs.LOWERCASE_REPOSITORY_OWNER }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}},value=${{ inputs.version }}
            type=raw,value=latest
      - uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}