name: Prevent security misconfiguration
on: workflow_dispatch

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: config
          severity: CRITICAL,HIGH
          exit-code: 1